<ion-header>
  <ion-toolbar>
    <ion-title>
      Equipo: Sebastian y Blas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Tema: Ionic</ion-card-title>
      <img src="assets/ionic.png" alt="IonicLogo">
    </ion-card-header>
  
    <ion-card-content>
      Con ionic podemos encontrar distintos componentes para modificar el como se ve nuestra aplicación.
      
      Algunos de estos pueden ser:
    </ion-card-content>

    <ion-card-content>
      <ion-list>
        <ion-item>          
          <ion-label>
            <ion-icon name="caret-forward-outline"></ion-icon>
            action-sheet
          </ion-label>                  
        </ion-item>
        <ion-item>          
          <ion-label>
            <ion-icon name="caret-forward-outline"></ion-icon>
            button
          </ion-label>
        </ion-item>
        <ion-item>          
          <ion-label>
            <ion-icon name="caret-forward-outline"></ion-icon>
            card
          </ion-label> 
        </ion-item>
        <ion-item>          
          <ion-label>
            <ion-icon name="caret-forward-outline"></ion-icon>
            content
          </ion-label> 
        </ion-item>
        <ion-item>          
          <ion-label>
            <ion-icon name="caret-forward-outline"></ion-icon>
            grid
          </ion-label> 
        </ion-item>
        <ion-item>          
          <ion-label>
            <ion-icon name="caret-forward-outline"></ion-icon>
            item
          </ion-label> 
        </ion-item>
        <ion-item>          
          <ion-label>
            <ion-icon name="caret-forward-outline"></ion-icon>
            list
          </ion-label> 
        </ion-item>
        <ion-item>          
          <ion-label>
            <ion-icon name="caret-forward-outline"></ion-icon>
            menu
          </ion-label> 
        </ion-item>
      </ion-list>
    </ion-card-content>

  </ion-card>
</ion-content>
